<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc.hce"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application>
        <activity
            android:name=".QrActivity"
            android:theme="@style/Theme.AppCompat"
            android:exported="false" />
        <activity
            android:name=".PosActivity"
            android:theme="@style/Theme.AppCompat"
            android:exported="true" />

        <service
            android:name=".Tap2PixApduService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
                <!-- category required!!! this was not included in official android HCE documentation -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice" />
        </service>
    </application>

</manifest>